# Coding Exercises (Part 1)

## Full Data Workflow A-Z: Merging, Joining, Concatenating

### Exercise 12: Merging, joining, aligning and concatenating Data

Now, you will have the opportunity to analyze your own dataset. <br>
__Follow the instructions__ and insert your code! You are either requested to 
- Complete the Code and __Fill in the gaps__. Gaps are marked with "__---__" and are __placeholders__ for your code fragment. 
- Write Code completely __on your own__

In some exercises, you will find questions that can only be answered, if your code is correct and returns the right output! The correct answer is provided below your coding cell. There you can check whether your code is correct.

If you need a hint, check the __Hints Section__ at the end of this Notebook. Exercises and Hints are numerated accordingly.

If you need some further help or if you want to check your code, you can also check the __solutions notebook__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Option 1: Self_guided

### Concatenating DataFrames vertically

__Import__ the cars dataset (with cars from usa and europe) from the csv-file __cars_clean.csv__. <br>
Also __import__ the csv-file __cars_jap.csv__ (with cars from japan) and __concatenate__ both DataFrames __vertically__! <br>
__Save__ the __concatenated DataFrame__ in the variable __cars_all__! <br>
Finally, __sort__ cars_all by the model_year from __low to high__!

### Left Join

__Import__ the csv-files __summer.csv__ (as summer) and __dictionary.csv__ (as dic) which contains the __full country name__ for the olympic country codes as well as __population__ and __gdp__ statistics for some countries.<br>

__"Copy and paste"__ the __full country name__, __population__ and __gdp__ from the dic DataFrame __into the summer DataFrame__ with a __Left Join__!<br>
__Save__ the new merged DataFrame in the variable __summer_new__!<br>

__Inspect__ summer_new and determine the __olympic country codes__ for which the dic DataFrame does __not provide__ any information!

### Arithmetic operations between DataFrames / Alignment

__Import__ the csv-files __ath_2008.csv__ and __ath_2012.csv__ with all medals winners in the Sport __Athletics__ in the Editions __2008__ and __2012__.

For __all Athletes__ in the two DataFrames, __aggregate/add__ the total number of __Gold__, __Silver__ and __Bronze__ Medals over both editions! __Save__ the aggregated DataFrame in the variable __add__. (Hint: add should contain an index with the Athlete names and three columns, Gold, Silver, Bronze)

__Sort__ add by Gold, Silver, Bronze from __high to low__! Change datatype to __integer__, if necessary! The first Athlete in your DataFrame should be ... no surprise ... Usain Bolt with 6 Gold and 0 Silver and Bronze Medals.

-------------------------------------

## Option 2: Guided and Instructed

# STOP HERE, IF YOU WANT TO DO THE EXERCISE ON YOUR OWN!

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [1]:
#run the cell
import pandas as pd

### Concatenating DataFrames vertically

In [2]:
#run the cell
cars = pd.read_csv("cars_clean.csv")

__Inspect__ the __cars__ DataFrame!

In [3]:
#run the cell
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [4]:
#run the cell
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
308,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
309,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
310,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
311,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
312,31.0,4,119.0,82.0,2720,19.4,82,usa,chevrolet s-10

In [5]:
#run the cell
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           313 non-null    float64
 1   cylinders     313 non-null    int64
 2   displacement  313 non-null    float64
 3   horsepower    313 non-null    float64
 4   weight        313 non-null    int64
 5   acceleration  313 non-null    float64
 6   model_year    313 non-null    int64
 7   origin        313 non-null    object
 8   name          313 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 22.1+ KB

__Inspect__ the cars_jap DataFrame!

In [6]:
#run the cell
cars_jap = pd.read_csv("cars_jap.csv")

In [7]:
#run the cell
cars_jap.head()

    mpg  cyl   disp    hp  weight   acc  year                   name
0  24.0    4  113.0  95.0    2372  15.0    70  toyota corona mark ii
1  27.0    4   97.0  88.0    2130  14.5    70           datsun pl510
2  27.0    4   97.0  88.0    2130  14.5    71           datsun pl510
3  25.0    4  113.0  95.0    2228  14.0    71          toyota corona
4  31.0    4   71.0  65.0    1773  19.0    71    toyota corolla 1200

Before we can concatenate both DataFrames, we need to __align__ them!<br>
108. __Insert__ the column __origin__ to __cars_jap__ at the most appropriate position! __Fill in the gaps!__

In [8]:
cars_jap.insert(loc=7, column='origin', value="japan")

In [9]:
cars_jap

     mpg  cyl   disp    hp  weight   acc  year origin                   name
0   24.0    4  113.0  95.0    2372  15.0    70  japan  toyota corona mark ii
1   27.0    4   97.0  88.0    2130  14.5    70  japan           datsun pl510
2   27.0    4   97.0  88.0    2130  14.5    71  japan           datsun pl510
3   25.0    4  113.0  95.0    2228  14.0    71  japan          toyota corona
4   31.0    4   71.0  65.0    1773  19.0    71  japan    toyota corolla 1200
..   ...  ...    ...   ...     ...   ...   ...    ...                    ...
74  34.0    4  108.0  70.0    2245  16.9    82  japan         toyota corolla
75  38.0    4   91.0  67.0    1965  15.0    82  japan            honda civic
76  32.0    4   91.0  67.0    1965  15.7    82  japan     honda civic (auto)
77  38.0    4   91.0  67.0    1995  16.2    82  japan          datsun 310 gx
78  32.0    4  144.0  96.0    2665  13.9    82  japan       toyota celica gt

[79 rows x 9 columns]

Also the column labels should match. <br>
109. __Overwrite__ the column labels in __cars_jap__ and use the same column labels that we have in cars!

In [10]:
cars_jap.columns = cars.columns

__Inspect__!

In [11]:
#run the cell
cars_jap.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
1,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
2,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
3,25.0,4,113.0,95.0,2228,14.0,71,japan,toyota corona
4,31.0,4,71.0,65.0,1773,19.0,71,japan,toyota corolla 1200

110. __Concatenate__ both DataFrames __vertically__ and create a __new RangeIndex__! __Save__ the new DataFrame in the variable __cars_all__!

In [12]:
cars_all = pd.concat([cars, cars_jap], ignore_index=True)

In [13]:
pd.options.display.max_rows = 600

cars_all

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,usa,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,usa,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,usa,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,usa,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,usa,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,usa,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw)
14,22.0,6,198.0,95.0,2833,15.5,70,usa,plymouth duster
15,18.0,6,199.0,97.0,2774,15.5,70,usa,amc hornet
16,21.0,6,200.0,85.0,2587,16.0,70,usa,ford maverick
17,26.0,4,97.0,46.0,1835,20.5,70,europe,vw 1131 deluxe sedan
18,25.0,4,110.0,87.0,2672,17.5,70,europe,peugeot 504
19,24.0,4,107.0,90.0,2430,14.5,70,europe,audi 100 ls
20,25.0,4,104.0,95.0,2375,17.5,70,europe,saab 99e
21,26.0,4,121.0,113.0,2234,12.5,70,europe,bmw 2002
22,21.0,6,199.0,90.0,2648,15.0,70,usa,amc gremlin
23,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
24,10.0,8,307.0,200.0,4376,15.0,70,usa,chevrolet c20
25,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
26,9.0,8,304.0,193.0,4732,18.5,70,usa,ih 1200d
27,28.0,4,140.0,90.0,2264,15.5,71,usa,chevrolet vega 2300
28,19.0,6,232.0,100.0,2634,13.0,71,usa,amc gremlin
29,16.0,6,225.0,105.0,3439,15.5,71,usa,plymouth satellite custom
30,17.0,6,250.0,100.0,3329,15.5,71,usa,chevrolet chevelle malibu
31,19.0,6,250.0,88.0,3302,15.5,71,usa,ford torino 500
32,18.0,6,232.0,100.0,3288,15.5,71,usa,amc matador
33,14.0,8,350.0,165.0,4209,12.0,71,usa,chevrolet impala
34,14.0,8,400.0,175.0,4464,11.5,71,usa,pontiac catalina brougham
35,14.0,8,351.0,153.0,4154,13.5,71,usa,ford galaxie 500
36,14.0,8,318.0,150.0,4096,13.0,71,usa,plymouth fury iii
37,12.0,8,383.0,180.0,4955,11.5,71,usa,dodge monaco (sw)
38,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw)
39,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw)
40,18.0,6,258.0,110.0,2962,13.5,71,usa,amc hornet sportabout (sw)
41,22.0,4,140.0,72.0,2408,19.0,71,usa,chevrolet vega (sw)
42,19.0,6,250.0,100.0,3282,15.0,71,usa,pontiac firebird
43,18.0,6,250.0,88.0,3139,14.5,71,usa,ford mustang
44,23.0,4,122.0,86.0,2220,14.0,71,usa,mercury capri 2000
45,28.0,4,116.0,90.0,2123,14.0,71,europe,opel 1900
46,30.0,4,79.0,70.0,2074,19.5,71,europe,peugeot 304
47,30.0,4,88.0,76.0,2065,14.5,71,europe,fiat 124b
48,27.0,4,97.0,60.0,1834,19.0,71,europe,vw model 111
49,26.0,4,91.0,70.0,1955,20.5,71,usa,plymouth cricket
50,25.0,4,97.5,80.0,2126,17.0,72,usa,dodge colt hardtop
51,23.0,4,97.0,54.0,2254,23.5,72,europe,vw type 3
52,20.0,4,140.0,90.0,2408,19.5,72,usa,chevrolet vega
53,21.0,4,122.0,86.0,2226,16.5,72,usa,ford pinto runabout
54,13.0,8,350.0,165.0,4274,12.0,72,usa,chevrolet impala
55,14.0,8,400.0,175.0,4385,12.0,72,usa,pontiac catalina
56,15.0,8,318.0,150.0,4135,13.5,72,usa,plymouth fury iii
57,14.0,8,351.0,153.0,4129,13.0,72,usa,ford galaxie 500
58,17.0,8,304.0,150.0,3672,11.5,72,usa,amc ambassador sst
59,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
60,13.0,8,350.0,155.0,4502,13.5,72,usa,buick lesabre custom
61,12.0,8,350.0,160.0,4456,13.5,72,usa,oldsmobile delta 88 royale
62,13.0,8,400.0,190.0,4422,12.5,72,usa,chrysler newport royal
63,15.0,8,304.0,150.0,3892,12.5,72,usa,amc matador (sw)
64,13.0,8,307.0,130.0,4098,14.0,72,usa,chevrolet chevelle concours (sw)
65,13.0,8,302.0,140.0,4294,16.0,72,usa,ford gran torino (sw)
66,14.0,8,318.0,150.0,4077,14.0,72,usa,plymouth satellite custom (sw)
67,18.0,4,121.0,112.0,2933,14.5,72,europe,volvo 145e (sw)
68,22.0,4,121.0,76.0,2511,18.0,72,europe,vw 411 (sw)
69,21.0,4,120.0,87.0,2979,19.5,72,europe,peugeot 504 (sw)
70,26.0,4,96.0,69.0,2189,18.0,72,europe,renault 12 (sw)
71,22.0,4,122.0,86.0,2395,16.0,72,usa,ford pinto (sw)
72,28.0,4,98.0,80.0,2164,15.0,72,usa,dodge colt (sw)
73,13.0,8,350.0,175.0,4100,13.0,73,usa,buick century 350
74,14.0,8,304.0,150.0,3672,11.5,73,usa,amc matador
75,13.0,8,350.0,145.0,3988,13.0,73,usa,chevrolet malibu
76,14.0,8,302.0,137.0,4042,14.5,73,usa,ford gran torino
77,15.0,8,318.0,150.0,3777,12.5,73,usa,dodge coronet custom
78,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham
79,13.0,8,400.0,150.0,4464,12.0,73,usa,chevrolet caprice classic
80,13.0,8,351.0,158.0,4363,13.0,73,usa,ford ltd
81,14.0,8,318.0,150.0,4237,14.5,73,usa,plymouth fury gran sedan
82,13.0,8,440.0,215.0,4735,11.0,73,usa,chrysler new yorker brougham
83,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom
84,13.0,8,360.0,175.0,3821,11.0,73,usa,amc ambassador brougham
85,18.0,6,225.0,105.0,3121,16.5,73,usa,plymouth valiant
86,16.0,6,250.0,100.0,3278,18.0,73,usa,chevrolet nova custom
87,18.0,6,232.0,100.0,2945,16.0,73,usa,amc hornet
88,18.0,6,250.0,88.0,3021,16.5,73,usa,ford maverick
89,23.0,6,198.0,95.0,2904,16.0,73,usa,plymouth duster
90,26.0,4,97.0,46.0,1950,21.0,73,europe,vw super beetle
91,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
92,12.0,8,400.0,167.0,4906,12.5,73,usa,ford country
93,13.0,8,360.0,170.0,4654,13.0,73,usa,plymouth custom suburb
94,12.0,8,350.0,180.0,4499,12.5,73,usa,oldsmobile vista cruiser
95,18.0,6,232.0,100.0,2789,15.0,73,usa,amc gremlin
96,21.0,4,140.0,72.0,2401,19.5,73,usa,chevrolet vega
97,19.0,4,122.0,85.0,2310,18.5,73,usa,ford pinto
98,21.0,6,155.0,107.0,2472,14.0,73,usa,mercury capri v6
99,26.0,4,98.0,90.0,2265,15.5,73,europe,fiat 124 sport coupe
100,15.0,8,350.0,145.0,4082,13.0,73,usa,chevrolet monte carlo s
101,16.0,8,400.0,230.0,4278,9.5,73,usa,pontiac grand prix
102,29.0,4,68.0,49.0,1867,19.5,73,europe,fiat 128
103,24.0,4,116.0,75.0,2158,15.5,73,europe,opel manta
104,20.0,4,114.0,91.0,2582,14.0,73,europe,audi 100ls
105,19.0,4,121.0,112.0,2868,15.5,73,europe,volvo 144ea
106,15.0,8,318.0,150.0,3399,11.0,73,usa,dodge dart custom
107,24.0,4,121.0,110.0,2660,14.0,73,europe,saab 99le
108,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega
109,20.0,6,198.0,95.0,3102,16.5,74,usa,plymouth duster
110,19.0,6,232.0,100.0,2901,16.0,74,usa,amc hornet
111,15.0,6,250.0,100.0,3336,17.0,74,usa,chevrolet nova
112,26.0,4,122.0,80.0,2451,16.5,74,usa,ford pinto
113,25.0,4,140.0,75.0,2542,17.0,74,usa,chevrolet vega
114,16.0,6,250.0,100.0,3781,17.0,74,usa,chevrolet chevelle malibu classic
115,16.0,6,258.0,110.0,3632,18.0,74,usa,amc matador
116,18.0,6,225.0,105.0,3613,16.5,74,usa,plymouth satellite sebring
117,16.0,8,302.0,140.0,4141,14.0,74,usa,ford gran torino
118,13.0,8,350.0,150.0,4699,14.5,74,usa,buick century luxus (sw)
119,14.0,8,318.0,150.0,4457,13.5,74,usa,dodge coronet custom (sw)
120,14.0,8,302.0,140.0,4638,16.0,74,usa,ford gran torino (sw)
121,14.0,8,304.0,150.0,4257,15.5,74,usa,amc matador (sw)
122,29.0,4,98.0,83.0,2219,16.5,74,europe,audi fox
123,26.0,4,79.0,67.0,1963,15.5,74,europe,vw dasher
124,26.0,4,97.0,78.0,2300,14.5,74,europe,opel manta
125,28.0,4,90.0,75.0,2125,14.5,74,usa,dodge colt
126,24.0,4,90.0,75.0,2108,15.5,74,europe,fiat 128
127,26.0,4,116.0,75.0,2246,14.0,74,europe,fiat 124 tc
128,31.0,4,79.0,67.0,2000,16.0,74,europe,fiat x1.9
129,19.0,6,225.0,95.0,3264,16.0,75,usa,plymouth valiant custom
130,18.0,6,250.0,105.0,3459,16.0,75,usa,chevrolet nova
131,15.0,6,250.0,72.0,3432,21.0,75,usa,mercury monarch
132,15.0,6,250.0,72.0,3158,19.5,75,usa,ford maverick
133,16.0,8,400.0,170.0,4668,11.5,75,usa,pontiac catalina
134,15.0,8,350.0,145.0,4440,14.0,75,usa,chevrolet bel air
135,16.0,8,318.0,150.0,4498,14.5,75,usa,plymouth grand fury
136,14.0,8,351.0,148.0,4657,13.5,75,usa,ford ltd
137,17.0,6,231.0,110.0,3907,21.0,75,usa,buick century
138,16.0,6,250.0,105.0,3897,18.5,75,usa,chevrolet chevelle malibu
139,15.0,6,258.0,110.0,3730,19.0,75,usa,amc matador
140,18.0,6,225.0,95.0,3785,19.0,75,usa,plymouth fury
141,21.0,6,231.0,110.0,3039,15.0,75,usa,buick skyhawk
142,20.0,8,262.0,110.0,3221,13.5,75,usa,chevrolet monza 2+2
143,13.0,8,302.0,129.0,3169,12.0,75,usa,ford mustang ii
144,23.0,4,140.0,83.0,2639,17.0,75,usa,ford pinto
145,20.0,6,232.0,100.0,2914,16.0,75,usa,amc gremlin
146,23.0,4,140.0,78.0,2592,18.5,75,usa,pontiac astro
147,25.0,4,90.0,71.0,2223,16.5,75,europe,vw dasher
148,18.0,6,171.0,97.0,2984,14.5,75,usa,ford pinto
149,29.0,4,90.0,70.0,1937,14.0,75,europe,vw rabbit
150,19.0,6,232.0,90.0,3211,17.0,75,usa,amc pacer
151,23.0,4,115.0,95.0,2694,15.0,75,europe,audi 100ls
152,23.0,4,120.0,88.0,2957,17.0,75,europe,peugeot 504
153,22.0,4,121.0,98.0,2945,14.5,75,europe,volvo 244dl
154,25.0,4,121.0,115.0,2671,13.5,75,europe,saab 99le
155,28.0,4,107.0,86.0,2464,15.5,76,europe,fiat 131
156,25.0,4,116.0,81.0,2220,16.9,76,europe,opel 1900
157,25.0,4,140.0,92.0,2572,14.9,76,usa,mercury capri ii
158,26.0,4,98.0,79.0,2255,17.7,76,usa,dodge colt
159,27.0,4,101.0,83.0,2202,15.3,76,europe,renault 12tl
160,17.5,8,305.0,140.0,4215,13.0,76,usa,chevrolet chevelle malibu classic
161,16.0,8,318.0,150.0,4190,13.0,76,usa,dodge coronet brougham
162,15.5,8,304.0,120.0,3962,13.9,76,usa,amc matador
163,14.5,8,351.0,152.0,4215,12.8,76,usa,ford gran torino
164,22.0,6,225.0,100.0,3233,15.4,76,usa,plymouth valiant
165,22.0,6,250.0,105.0,3353,14.5,76,usa,chevrolet nova
166,24.0,6,200.0,81.0,3012,17.6,76,usa,ford maverick
167,22.5,6,232.0,90.0,3085,17.6,76,usa,amc hornet
168,29.0,4,85.0,52.0,2035,22.2,76,usa,chevrolet chevette
169,24.5,4,98.0,60.0,2164,22.1,76,usa,chevrolet woody
170,29.0,4,90.0,70.0,1937,14.2,76,europe,vw rabbit
171,20.0,6,225.0,100.0,3651,17.7,76,usa,dodge aspen se
172,18.0,6,250.0,78.0,3574,21.0,76,usa,ford granada ghia
173,18.5,6,250.0,110.0,3645,16.2,76,usa,pontiac ventura sj
174,17.5,6,258.0,95.0,3193,17.8,76,usa,amc pacer d/l
175,29.5,4,97.0,71.0,1825,12.2,76,europe,vw rabbit
176,26.5,4,140.0,72.0,2565,13.6,76,usa,ford pinto
177,20.0,4,130.0,102.0,3150,15.7,76,europe,volvo 245
178,13.0,8,318.0,150.0,3940,13.2,76,usa,plymouth volare premier v8
179,19.0,4,120.0,88.0,3270,21.9,76,europe,peugeot 504
180,16.5,6,168.0,120.0,3820,16.7,76,europe,mercedes-benz 280s
181,16.5,8,350.0,180.0,4380,12.1,76,usa,cadillac seville
182,13.0,8,350.0,145.0,4055,12.0,76,usa,chevrolet c10
183,13.0,8,302.0,130.0,3870,15.0,76,usa,ford f108
184,13.0,8,318.0,150.0,3755,14.0,76,usa,dodge d100
185,30.0,4,111.0,80.0,2155,14.8,77,usa,buick opel isuzu deluxe
186,36.0,4,79.0,58.0,1825,18.6,77,europe,renault 5 gtl
187,25.5,4,122.0,96.0,2300,15.5,77,usa,plymouth arrow gs
188,17.5,8,305.0,145.0,3880,12.5,77,usa,chevrolet caprice classic
189,17.0,8,260.0,110.0,4060,19.0,77,usa,oldsmobile cutlass supreme
190,15.5,8,318.0,145.0,4140,13.7,77,usa,dodge monaco brougham
191,15.0,8,302.0,130.0,4295,14.9,77,usa,mercury cougar brougham
192,17.5,6,250.0,110.0,3520,16.4,77,usa,chevrolet concours
193,20.5,6,231.0,105.0,3425,16.9,77,usa,buick skylark
194,19.0,6,225.0,100.0,3630,17.7,77,usa,plymouth volare custom
195,18.5,6,250.0,98.0,3525,19.0,77,usa,ford granada
196,16.0,8,400.0,180.0,4220,11.1,77,usa,pontiac grand prix lj
197,15.5,8,350.0,170.0,4165,11.4,77,usa,chevrolet monte carlo landau
198,15.5,8,400.0,190.0,4325,12.2,77,usa,chrysler cordoba
199,16.0,8,351.0,149.0,4335,14.5,77,usa,ford thunderbird
200,29.0,4,97.0,78.0,1940,14.5,77,europe,vw rabbit custom
201,24.5,4,151.0,88.0,2740,16.0,77,usa,pontiac sunbird coupe
202,25.5,4,140.0,89.0,2755,15.8,77,usa,ford mustang ii 2+2
203,30.5,4,98.0,63.0,2051,17.0,77,usa,chevrolet chevette
204,33.5,4,98.0,83.0,2075,15.9,77,usa,dodge colt m/m
205,30.5,4,97.0,78.0,2190,14.1,77,europe,vw dasher
206,21.5,4,121.0,110.0,2600,12.8,77,europe,bmw 320i
207,43.1,4,90.0,48.0,1985,21.5,78,europe,vw rabbit custom diesel
208,36.1,4,98.0,66.0,1800,14.4,78,usa,ford fiesta
209,19.9,8,260.0,110.0,3365,15.5,78,usa,oldsmobile cutlass salon brougham
210,19.4,8,318.0,140.0,3735,13.2,78,usa,dodge diplomat
211,20.2,8,302.0,139.0,3570,12.8,78,usa,mercury monarch ghia
212,19.2,6,231.0,105.0,3535,19.2,78,usa,pontiac phoenix lj
213,20.5,6,200.0,95.0,3155,18.2,78,usa,chevrolet malibu
214,20.2,6,200.0,85.0,2965,15.8,78,usa,ford fairmont (auto)
215,25.1,4,140.0,88.0,2720,15.4,78,usa,ford fairmont (man)
216,20.5,6,225.0,100.0,3430,17.2,78,usa,plymouth volare
217,19.4,6,232.0,90.0,3210,17.2,78,usa,amc concord
218,20.6,6,231.0,105.0,3380,15.8,78,usa,buick century special
219,20.8,6,200.0,85.0,3070,16.7,78,usa,mercury zephyr
220,18.6,6,225.0,110.0,3620,18.7,78,usa,dodge aspen
221,18.1,6,258.0,120.0,3410,15.1,78,usa,amc concord d/l
222,19.2,8,305.0,145.0,3425,13.2,78,usa,chevrolet monte carlo landau
223,17.7,6,231.0,165.0,3445,13.4,78,usa,buick regal sport coupe (turbo)
224,18.1,8,302.0,139.0,3205,11.2,78,usa,ford futura
225,17.5,8,318.0,140.0,4080,13.7,78,usa,dodge magnum xe
226,30.0,4,98.0,68.0,2155,16.5,78,usa,chevrolet chevette
227,30.9,4,105.0,75.0,2230,14.5,78,usa,dodge omni
228,23.2,4,156.0,105.0,2745,16.7,78,usa,plymouth sapporo
229,23.8,4,151.0,85.0,2855,17.6,78,usa,oldsmobile starfire sx
230,20.3,5,131.0,103.0,2830,15.9,78,europe,audi 5000
231,17.0,6,163.0,125.0,3140,13.6,78,europe,volvo 264gl
232,21.6,4,121.0,115.0,2795,15.7,78,europe,saab 99gle
233,16.2,6,163.0,133.0,3410,15.8,78,europe,peugeot 604sl
234,31.5,4,89.0,71.0,1990,14.9,78,europe,vw scirocco
235,21.5,6,231.0,115.0,3245,15.4,79,usa,pontiac lemans v6
236,19.8,6,200.0,85.0,2990,18.2,79,usa,mercury zephyr 6
237,22.3,4,140.0,88.0,2890,17.3,79,usa,ford fairmont 4
238,20.2,6,232.0,90.0,3265,18.2,79,usa,amc concord dl 6
239,20.6,6,225.0,110.0,3360,16.6,79,usa,dodge aspen 6
240,17.0,8,305.0,130.0,3840,15.4,79,usa,chevrolet caprice classic
241,17.6,8,302.0,129.0,3725,13.4,79,usa,ford ltd landau
242,16.5,8,351.0,138.0,3955,13.2,79,usa,mercury grand marquis
243,18.2,8,318.0,135.0,3830,15.2,79,usa,dodge st. regis
244,16.9,8,350.0,155.0,4360,14.9,79,usa,buick estate wagon (sw)
245,15.5,8,351.0,142.0,4054,14.3,79,usa,ford country squire (sw)
246,19.2,8,267.0,125.0,3605,15.0,79,usa,chevrolet malibu classic (sw)
247,18.5,8,360.0,150.0,3940,13.0,79,usa,chrysler lebaron town @ country (sw)
248,31.9,4,89.0,71.0,1925,14.0,79,europe,vw rabbit custom
249,35.7,4,98.0,80.0,1915,14.4,79,usa,dodge colt hatchback custom
250,27.4,4,121.0,80.0,2670,15.0,79,usa,amc spirit dl
251,25.4,5,183.0,77.0,3530,20.1,79,europe,mercedes-benz 300d
252,23.0,8,350.0,125.0,3900,17.4,79,usa,cadillac eldorado
253,27.2,4,141.0,71.0,3190,24.8,79,europe,peugeot 504
254,23.9,8,260.0,90.0,3420,22.2,79,usa,oldsmobile cutlass salon brougham
255,34.2,4,105.0,70.0,2200,13.2,79,usa,plymouth horizon
256,34.5,4,105.0,70.0,2150,14.9,79,usa,plymouth horizon tc3
257,37.3,4,91.0,69.0,2130,14.7,79,europe,fiat strada custom
258,28.4,4,151.0,90.0,2670,16.0,79,usa,buick skylark limited
259,28.8,6,173.0,115.0,2595,11.3,79,usa,chevrolet citation
260,26.8,6,173.0,115.0,2700,12.9,79,usa,oldsmobile omega brougham
261,33.5,4,151.0,90.0,2556,13.2,79,usa,pontiac phoenix
262,41.5,4,98.0,76.0,2144,14.7,80,europe,vw rabbit
263,32.1,4,98.0,70.0,2120,15.5,80,usa,chevrolet chevette
264,28.0,4,151.0,90.0,2678,16.5,80,usa,chevrolet citation
265,26.4,4,140.0,88.0,2870,18.1,80,usa,ford fairmont
266,24.3,4,151.0,90.0,3003,20.1,80,usa,amc concord
267,19.1,6,225.0,90.0,3381,18.7,80,usa,dodge aspen
268,34.3,4,97.0,78.0,2188,15.8,80,europe,audi 4000
269,27.9,4,156.0,105.0,2800,14.4,80,usa,dodge colt
270,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
271,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
272,36.4,5,121.0,67.0,2950,19.9,80,europe,audi 5000s (diesel)
273,30.0,4,146.0,67.0,3250,21.8,80,europe,mercedes-benz 240d
274,29.8,4,89.0,62.0,1845,15.3,80,europe,vw rabbit
275,35.0,4,122.0,88.0,2500,15.1,80,europe,triumph tr7 coupe
276,27.2,4,135.0,84.0,2490,15.7,81,usa,plymouth reliant
277,26.6,4,151.0,84.0,2635,16.4,81,usa,buick skylark
278,25.8,4,156.0,92.0,2620,14.4,81,usa,dodge aries wagon (sw)
279,23.5,6,173.0,110.0,2725,12.6,81,usa,chevrolet citation
280,30.0,4,135.0,84.0,2385,12.9,81,usa,plymouth reliant
281,39.0,4,86.0,64.0,1875,16.4,81,usa,plymouth champ
282,34.7,4,105.0,63.0,2215,14.9,81,usa,plymouth horizon 4
283,34.4,4,98.0,65.0,2045,16.2,81,usa,ford escort 4w
284,29.9,4,98.0,65.0,2380,20.7,81,usa,ford escort 2h
285,33.0,4,105.0,74.0,2190,14.2,81,europe,vw jetta
286,28.1,4,141.0,80.0,3230,20.4,81,europe,peugeot 505s turbo diesel
287,30.7,6,145.0,76.0,3160,19.6,81,europe,volvo diesel
288,22.4,6,231.0,110.0,3415,15.8,81,usa,buick century
289,26.6,8,350.0,105.0,3725,19.0,81,usa,oldsmobile cutlass ls
290,20.2,6,200.0,88.0,3060,17.1,81,usa,ford granada gl
291,17.6,6,225.0,85.0,3465,16.6,81,usa,chrysler lebaron salon
292,28.0,4,112.0,88.0,2605,19.6,82,usa,chevrolet cavalier
293,27.0,4,112.0,88.0,2640,18.6,82,usa,chevrolet cavalier wagon
294,34.0,4,112.0,88.0,2395,18.0,82,usa,chevrolet cavalier 2-door
295,31.0,4,112.0,85.0,2575,16.2,82,usa,pontiac j2000 se hatchback
296,29.0,4,135.0,84.0,2525,16.0,82,usa,dodge aries se
297,27.0,4,151.0,90.0,2735,18.0,82,usa,pontiac phoenix
298,24.0,4,140.0,92.0,2865,16.4,82,usa,ford fairmont futura
299,36.0,4,105.0,74.0,1980,15.3,82,europe,vw rabbit l
300,38.0,4,105.0,63.0,2125,14.7,82,usa,plymouth horizon miser
301,36.0,4,98.0,70.0,2125,17.3,82,usa,mercury lynx l
302,25.0,6,181.0,110.0,2945,16.4,82,usa,buick century limited
303,38.0,6,262.0,85.0,3015,17.0,82,usa,oldsmobile cutlass ciera (diesel)
304,26.0,4,156.0,92.0,2585,14.5,82,usa,chrysler lebaron medallion
305,22.0,6,232.0,112.0,2835,14.7,82,usa,ford granada l
306,36.0,4,135.0,84.0,2370,13.0,82,usa,dodge charger 2.2
307,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
308,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
309,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
310,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
311,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
312,31.0,4,119.0,82.0,2720,19.4,82,usa,chevrolet s-10
313,24.0,4,113.0,95.0,2372,15.0,70,japan,toyota corona mark ii
314,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
315,27.0,4,97.0,88.0,2130,14.5,71,japan,datsun pl510
316,25.0,4,113.0,95.0,2228,14.0,71,japan,toyota corona
317,31.0,4,71.0,65.0,1773,19.0,71,japan,toyota corolla 1200
318,35.0,4,72.0,69.0,1613,18.0,71,japan,datsun 1200
319,24.0,4,113.0,95.0,2278,15.5,72,japan,toyota corona hardtop
320,19.0,3,70.0,97.0,2330,13.5,72,japan,mazda rx2 coupe
321,28.0,4,97.0,92.0,2288,17.0,72,japan,datsun 510 (sw)
322,23.0,4,120.0,97.0,2506,14.5,72,japan,toyota corona mark ii (sw)
323,27.0,4,97.0,88.0,2100,16.5,72,japan,toyota corolla 1600 (sw)
324,20.0,4,97.0,88.0,2279,19.0,73,japan,toyota carina
325,22.0,4,108.0,94.0,2379,16.5,73,japan,datsun 610
326,18.0,3,70.0,90.0,2124,13.5,73,japan,mazda rx3
327,20.0,6,156.0,122.0,2807,13.5,73,japan,toyota mark ii
328,31.0,4,79.0,67.0,1950,19.0,74,japan,datsun b210
329,32.0,4,71.0,65.0,1836,21.0,74,japan,toyota corolla 1200
330,31.0,4,76.0,52.0,1649,16.5,74,japan,toyota corona
331,32.0,4,83.0,61.0,2003,19.0,74,japan,datsun 710
332,24.0,4,120.0,97.0,2489,15.0,74,japan,honda civic
333,26.0,4,108.0,93.0,2391,15.5,74,japan,subaru
334,29.0,4,97.0,75.0,2171,16.0,75,japan,toyota corolla
335,24.0,4,134.0,96.0,2702,13.5,75,japan,toyota corona
336,24.0,4,119.0,97.0,2545,17.0,75,japan,datsun 710
337,33.0,4,91.0,53.0,1795,17.5,75,japan,honda civic cvcc
338,33.0,4,91.0,53.0,1795,17.4,76,japan,honda civic
339,32.0,4,85.0,70.0,1990,17.0,76,japan,datsun b-210
340,28.0,4,97.0,75.0,2155,16.4,76,japan,toyota corolla
341,19.0,6,156.0,108.0,2930,15.5,76,japan,toyota mark ii
342,31.5,4,98.0,68.0,2045,18.5,77,japan,honda accord cvcc
343,33.5,4,85.0,70.0,1945,16.8,77,japan,datsun f-10 hatchback
344,26.0,4,97.0,75.0,2265,18.2,77,japan,toyota corolla liftback
345,30.0,4,97.0,67.0,1985,16.4,77,japan,subaru dl
346,22.0,6,146.0,97.0,2815,14.5,77,japan,datsun 810
347,21.5,3,80.0,110.0,2720,13.5,77,japan,mazda rx-4
348,32.8,4,78.0,52.0,1985,19.4,78,japan,mazda glc deluxe
349,39.4,4,85.0,70.0,2070,18.6,78,japan,datsun b210 gx

__Inspect__!

In [14]:
#run the cell
cars_all.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [15]:
#run the cell!
cars_all.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
387,34.0,4,108.0,70.0,2245,16.9,82,japan,toyota corolla
388,38.0,4,91.0,67.0,1965,15.0,82,japan,honda civic
389,32.0,4,91.0,67.0,1965,15.7,82,japan,honda civic (auto)
390,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
391,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt

111. __Sort cars_all__ by the __model_year__ from __low to high__! Create a __new RangeIndex__ (drop the old)! __Fill in the gaps__!

In [16]:
cars_all = cars_all.sort_values("model_year", ascending=True).reset_index(drop = True)

__Inspect__!

In [17]:
#run the cell
cars_all.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,27.0,4,97.0,88.0,2130,14.5,70,japan,datsun pl510
2,9.0,8,304.0,193.0,4732,18.5,70,usa,ih 1200d
3,11.0,8,318.0,210.0,4382,13.5,70,usa,dodge d200
4,10.0,8,307.0,200.0,4376,15.0,70,usa,chevrolet c20

In [18]:
#run the cell
cars_all.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
387,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
388,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
389,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
390,38.0,4,91.0,67.0,1995,16.2,82,japan,datsun 310 gx
391,32.0,4,144.0,96.0,2665,13.9,82,japan,toyota celica gt

In [19]:
#run the cell
cars_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model_year    392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 27.7+ KB

----------------------------------------------------------------------

### Left Join

In [20]:
# run the cell!
summer = pd.read_csv("summer.csv")

__Inspect__ the __summer__ DataFrame!

In [21]:
# run the cell!
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [22]:
# run the cell!
dic = pd.read_csv("dictionary.csv")

__Inspect__ dict!

In [23]:
# run the cell!
dic.head()

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

__dic__ contains the Olympic Games __Country Codes__ ("Code") with the corresponding __full country names__ ("Country") as well as recent __Population__ and __GDP__ statistics.<br>

112. __Create__ the columns __Country__, __Population__ and __GDP per Capita__ in the __summer__ DataFrame by using a __Left Join__ with __pd.merge()__. <br>
__Save__ the merged Dataframe in the variable __summer_new__! __Fill in the gaps__!

In [24]:
summer_new = pd.merge(summer, dic, how = "left", left_on= 'Country', right_on = 'Code', indicator=True)

__Inspect__ summer_new!

In [25]:
# run the cell!
summer_new.head()

,Year,City,Sport,Discipline,Athlete,Country_x,Gender,Event,Medal,Country_y,Code,Population,GDP per Capita,_merge
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary,HUN,9844686.0,12363.543460,both
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Austria,AUT,8611088.0,43774.985174,both
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Greece,GRE,10823732.0,18002.230578,both
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Greece,GRE,10823732.0,18002.230578,both
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Greece,GRE,10823732.0,18002.230578,both

In [26]:
# run the cell!
summer_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31165 entries, 0 to 31164
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            31165 non-null  int64
 1   City            31165 non-null  object
 2   Sport           31165 non-null  object
 3   Discipline      31165 non-null  object
 4   Athlete         31165 non-null  object
 5   Country_x       31161 non-null  object
 6   Gender          31165 non-null  object
 7   Event           31165 non-null  object
 8   Medal           31165 non-null  object
 9   Country_y       25742 non-null  object
 10  Code            25742 non-null  object
 11  Population      25696 non-null  float64
 12  GDP per Capita  25142 non-null  float64
 13  _merge          31165 non-null  category
dtypes: category(1), float64(2), int64(1), object(10)
memory usage: 3.4+ MB

Apparently, __dic__ does __not contain__ additional information for __all olympic country codes__ that are in the __summer__ Dataframe.

113. __Filter__ summer_new for the elements in the column __Country_x__, where the __corresponding value__ in the column __Code__ is __missing__! <br>
__Count__ the frequency! __Fill in the gaps__!

In [27]:
summer_new.loc[summer_new.Code.isnull(), "Country_x"].value_counts()

URS    2049
GDR     825
ROU     640
FRG     490
YUG     435
TCH     329
EUA     260
EUN     223
ZZX      48
SRB      31
ANZ      29
RU1      17
MNE      14
TTO      10
BOH       7
BWI       5
SGP       4
IOP       3
Name: Country_x, dtype: int64

For these country codes, we need to find __other sources__ for additional information on the __full country name__, __population__ and __gdp__ (most of these countries do not exist any more.) -> BONUS EXERCISE ;-)

--------------------------

### Arithmetic operations between DataFrames / Alignment

In [28]:
#run the cell
ath_2008 = pd.read_csv("ath_2008.csv")
ath_2012 = pd.read_csv("ath_2012.csv")

__Inspect__ the __ath_2008__ DataFrame. It contains all athletes who won medals in __Athletics__ in the Edition __2008__.

In [29]:
#run the cell
ath_2008.head()

              Athlete  Gold  Silver  Bronze
0    ABAKUMOVA, Maria     0       1       0
1  ABEYLEGESSE, Elvan     0       2       0
2  ALEKNA, Virgilijus     0       0       1
3      ALEXEEV, Denis     0       0       1
4     ANTONOVA, Olena     0       0       1

In [30]:
#run the cell
ath_2008.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Athlete  159 non-null    object
 1   Gold     159 non-null    int64
 2   Silver   159 non-null    int64
 3   Bronze   159 non-null    int64
dtypes: int64(3), object(1)
memory usage: 5.1+ KB

__Inspect__ the __ath_2012__ DataFrame. It contains all athletes who won medals in __Athletics__ in the Edition __2012__.

In [31]:
#run the cell
ath_2012.head()

              Athlete  Gold  Silver  Bronze
0      ADAMS, Valerie     1       0       0
1  ALLEYNE-FORTE, Ade     0       0       1
2         AMOS, Nijel     0       1       0
3    ANTYUKH, Natalya     1       1       0
4       ASSEFA, Sofia     0       1       0

In [32]:
#run the cell
ath_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Athlete  171 non-null    object
 1   Gold     171 non-null    int64
 2   Silver   171 non-null    int64
 3   Bronze   171 non-null    int64
dtypes: int64(3), object(1)
memory usage: 5.5+ KB

For __all Athletes__ in the two DataFrames, __aggregate/add__ the total number of __Gold__, __Silver__ and __Bronze__ Medals over both editions! __Save__ the aggregated DataFrame in the variable __add__!

114. First, __set__ the __Athlete__ column as the __index__ in both DataFrames! __Save__ the changes!

In [33]:
ath_2008.set_index('Athlete', inplace=True)

In [34]:
ath_2008.head()

                    Gold  Silver  Bronze
Athlete
ABAKUMOVA, Maria       0       1       0
ABEYLEGESSE, Elvan     0       2       0
ALEKNA, Virgilijus     0       0       1
ALEXEEV, Denis         0       0       1
ANTONOVA, Olena        0       0       1

In [35]:
ath_2012.set_index('Athlete', inplace=True)

In [36]:
ath_2012.head()

                    Gold  Silver  Bronze
Athlete
ADAMS, Valerie         1       0       0
ALLEYNE-FORTE, Ade     0       0       1
AMOS, Nijel            0       1       0
ANTYUKH, Natalya       1       1       0
ASSEFA, Sofia          0       1       0

115. __Add__ both DataFrames with the __most appropriate method__! __Save__ the resulting DataFrame in the variable __add__!

In [37]:
add = ath_2008.add(ath_2012, fill_value=0)

__Inspect__!

In [38]:
#run the cell
add.head(10)

                    Gold  Silver  Bronze
Athlete
ABAKUMOVA, Maria     0.0     1.0     0.0
ABEYLEGESSE, Elvan   0.0     2.0     0.0
ADAMS, Valerie       1.0     0.0     0.0
ALEKNA, Virgilijus   0.0     0.0     1.0
ALEXEEV, Denis       0.0     0.0     1.0
ALLEYNE-FORTE, Ade   0.0     0.0     1.0
AMOS, Nijel          0.0     1.0     0.0
ANTONOVA, Olena      0.0     0.0     1.0
ANTYUKH, Natalya     1.0     1.0     0.0
ASAHARA, Nobuharu    0.0     0.0     1.0

116. __Sort__ the athletes by the number of __Gold__, __Silver__ and __Bronze__ medals from __high to low__!<br>
__Fill in the gaps!__ Who is the top athlete?

In [39]:
add = add.sort_values(['Gold', 'Silver', 'Bronze'], ascending = False).astype("int")

In [40]:
# run the cell!
add.head()

                  Gold  Silver  Bronze
Athlete
BOLT, Usain          6       0       0
FELIX, Allyson       4       1       0
DIBABA, Tirunesh     3       0       1
TAYLOR, Angelo       2       1       0
BEKELE, Kenenisa     2       0       0

In [41]:
# run the cell!
add.tail()

                         Gold  Silver  Bronze
Athlete
WILLIAMS, Novelene          0       0       1
WILLIAMS-MILLS, Novlene     0       0       1
YEGO, Alfred Kirwa          0       0       1
YURCHENKO, Denys            0       0       1
ZHOU, Chunxiu               0       0       1

No surprise, it´s Usain Bolt!

# Well Done!

------------------------------------------------

# Hints (Spoiler!)

108. insert() method, index pos. 7

109. columns attribute

110. pd.concat() method, ignore index

111. methods sort_values() and reset_index()

112. left DataFrame: summer, on "Country" and "Code"

113. methods isnull() and value_counts()

114. set_index() method

115. add() method, fill_value = 0

116. pass a list of columns to sort_values() method (sequence matters!)